## Python built in types

- List
- Dictionary
- Tuple
- Set
- range


- String


- Integer
- Float


- Boolean


- None


- function
- type (class)

- more...

In [1]:
a=3
type(a)

int

In [2]:
a="3"
type(a)

str

In [3]:
type(print)

builtin_function_or_method

In [4]:
type(str)

type

In [5]:
type(range(10))

range

In [6]:
# Variables in python do not need a type defined beforehand
a = 75
a = "Ironhack"

In [7]:
# C/C++
# int a = 75;

In [8]:
# Tuples
# Ordered
# Inmutable
x = (7,)
type(x)

tuple

In [9]:
x = ()
y = tuple()
type(x), type(y)

(tuple, tuple)

In [10]:
# List
# Ordered
arr = [1,2,3,4,5,6,7]
arr[0]

1

In [11]:
# Dictionary
# Pairs of key:value
# Unique keys
# Unordered
# Orden arbitrário, no aleatório
dic = {2:[2],1:"1",3:True}
dic[1]

'1'

In [12]:
dic = {"Juan":"Blanco", "Adri":"Coca"}

In [13]:
dic = {(1,2):True, (2,1):False}

In [14]:
dic[(2,1)]

False

In [15]:
(1,2) == (2,1)

False

In [16]:
# Sets are unordered
{1,2} == {2,1}

True

In [17]:
[1,2] == [2,1]

False

In [18]:
lst = ["@", "#", "~"]
tp = (1,2,3,4,5,6)
num = 1

In [19]:
dic = {"lista":lst, "tuple":tp, "1":num}

In [20]:
dic

{'lista': ['@', '#', '~'], 'tuple': (1, 2, 3, 4, 5, 6), '1': 1}

In [21]:
num+=9
# Changes the value of num, but not on the dictionary

In [22]:
num

10

In [23]:
dic

{'lista': ['@', '#', '~'], 'tuple': (1, 2, 3, 4, 5, 6), '1': 1}

In [24]:
num

10

In [25]:
lst.append("***********")
lst
# Changes both lst and dictionary

['@', '#', '~', '***********']

In [26]:
dic

{'lista': ['@', '#', '~', '***********'], 'tuple': (1, 2, 3, 4, 5, 6), '1': 1}

### Paso por valor

### Paso por referencia

In [27]:
lst = ["@", "#", "~"]
tp = (1,2,3,4,5,6)
num = 1
for val in [lst,tp,num]:
    print(id(val))

139860256401792
139860247493504
94552138820864

In [28]:
dic = {"lista":lst, "tuple":tp, "1":num}
for data in dic.values():
    print(id(data))

139860256401792
139860247493504
94552138820864

In [29]:
id(lst)

139860256401792

In [30]:
lst.append(8)
id(lst)
# id doesn't change

139860256401792

In [31]:
id(num)

94552138820864

In [32]:
num+=5
id(num)
# new id

94552138821024

In [33]:
id(lst[0])

139860342122224

In [34]:
lst[0] = 0
id(lst[0])
# Changes id of element, but not of list

94552138820832

In [35]:
id(lst)

139860256401792

## Listas, tuplas, dictionaries contienen referencias a otros valores

In [36]:
def siete():
    return 7

In [37]:
type(siete), type(siete())

(function, int)

### Casting

In [38]:
a = "42"
b = 42

In [39]:
a*2

'4242'

In [40]:
b*2

84

In [41]:
# Ni todas las operaciones se pueden hacer entre tipos de datos diferentes
# Los operadores no significan lo mismo en los diferentes tipos de datos

In [42]:
b*b

1764

In [43]:
a*a

TypeError: can't multiply sequence by non-int of type 'str'

### Casting
We can convert diferent data types into one another if compatible

In [45]:
int(a)*int(a)

1764

In [46]:
list(a)

['4', '2']

In [47]:
[a]

['42']

In [48]:
lst = list(range(404,880,3))

In [49]:
# Los que terminen en 5 o 4
arr = []
for n in lst:
    if n%10==5 or n%10==4:
        arr.append(n)

In [50]:
# Numeros que contengan 4 o 5 en cualquier posición
lst = list(range(404,4004,3))
arr = []
for num in lst:
    if "4" in str(num) or "5" in str(num):
        arr.append(num)

In [51]:
len(lst)

1200

In [52]:
len(arr)

604

In [53]:
num = 1545
s = set(str(num))
s

{'1', '4', '5'}

In [54]:
{"4","5"}.issubset(s)

True

In [55]:
lst = list(range(404,4004,3))
arr = []
for num in lst:
#    print({"4","5"} & set(str(num)))
    # operator & represents the intersection of sets
    if {"4","5"} & set(str(num)):
        arr.append(num)

In [56]:
len(arr)

604

In [57]:
# Every Data Type may be evaluated as true or false

In [58]:
bool({})

False

In [59]:
bool({""})

True

In [60]:
bool("")

False

In [61]:
bool("a")

True

In [62]:
bool([])

False

In [63]:
bool([1])

True

In [64]:
bool(0)

False

In [65]:
bool(1)

True

In [66]:
bool(4)

True

In [67]:


bool(-9)

True

In [68]:
## ERROR
a = [1,2,3,6,7,8,9]
if 4 or 5 in a:
    print(True)
    
# Bad syntax. We must use `if (condition1) or (condition2)`

True

In [69]:
bool(4) or bool(5 in a)

True

In [70]:
bool(5 in a)

False

In [71]:
bool(4)

True

### Sets operations

In [72]:
a = {5,2,1} 
b = {3,4,5}
c = {4,5}

In [73]:
# Is contained
a.issubset(b)

False

In [74]:
c.issubset(b)

True

In [75]:
a & b

{5}

In [76]:
b & c

{4, 5}

In [77]:
b | c

{3, 4, 5}

In [78]:
a | b

{1, 2, 3, 4, 5}

## Boolean (Logic) Algebra

In [79]:
True and False

False

In [80]:
True or False

True

In [81]:
False or False

False

In [82]:
False and False

False

In [83]:
# AND
True and True == True
True and False == False
False and False = False;

SyntaxError: cannot assign to operator (<ipython-input-83-410f2324705e>, line 4)

In [84]:
# OR
True or True == True
True or False == True
False or False == False;

In [85]:
not False, not True

(True, False)

In [86]:
not(True or True)

False

In [87]:
not(False or False)

True

In [88]:
A,B = False, False
not(A or B) == ((not A) and (not B))

True

In [89]:
A,B = True, True
not(A and B) == ((not A) or (not B))

True

In [90]:
# https://en.wikipedia.org/wiki/De_Morgan%27s_laws

### Tuple packing, unpacking

In [91]:
dog = ["Canis lupus", "Pitbul", "Toby"]

In [92]:
especie, raza, nombre = dog

In [93]:
especie

'Canis lupus'

In [94]:
nombre

'Toby'

In [95]:
dog = especie, raza, nombre = ["Canis lupus", "Pitbul", "Toby"]

In [96]:
dog

['Canis lupus', 'Pitbul', 'Toby']

In [97]:
nombre

'Toby'

In [98]:
a = b = []

In [99]:
a

[]

In [100]:
b

[]

In [101]:
a.append(1)
a

[1]

In [102]:
b

[1]

In [103]:
chucho = dog.copy()

In [104]:
chucho[1] = "sin raza"

In [105]:
chucho

['Canis lupus', 'sin raza', 'Toby']

In [106]:
dog

['Canis lupus', 'Pitbul', 'Toby']

In [107]:
a = 5
b = a
a += 5
# a += b significa a = a+b
a,b

(10, 5)

In [108]:
a = b = []
a = []
a += ["2"]
# para las listas, el a += b significa a.append(e) for e in b
a,b

(['2'], [])

In [109]:
a = b = 0
a,b = 0,0
# Son cosas diferentes, que puede ser que se comporten igual

In [110]:
def suma(arr):
    res = 0
    for i in arr:
        res+=i
    return res

In [111]:
arr = [4,5,4,6,7,8,9]

In [112]:
sorted(arr)

[4, 4, 5, 6, 7, 8, 9]

In [113]:
suma(arr)

43